{% extends 'layout.html' %}

{% block title %}Add Blog{% endblock %}

{% block body %}
<div class="container mt-5 mb-5">
  <form method="post" action="{% url 'manage:create_blog' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <h1 class="text-center mb-3">
      Proje ekle
    </h1>
    <div class="mb-3">
      <label for="title" class="form-label">Başlık:</label>
      <input type="text" class="form-control" id="title" placeholder="Başlık" name="title" required autofocus>
    </div>
    <div class="mb-3">
      <label for="desc" class="form-label">Açıklama:</label>
      <textarea class="form-control" placeholder="Açıklama yazın" id="desc" style="height: 100px" name="desc"></textarea>
    </div>
    <br>
    {{ form.media }}
    {{ form.as_p }}
    <div class="mb-3">
      <label for="thumbnail" class="form-label">Tanıtım resmi yükleyiniz:</label>
      <input class="form-control" type="file" id="thumbnail" name="thumbnail" accept="image/*" required>
    </div>
    <div class="mb-3">
      <label for="categories" class="form-label">Kategoriler:</label>
      <select id="categories" class="form-select" multiple aria-label="multiple select example" name="categories" required>
        <option disabled value=''>Kategori seçin.</option>
        {% for category in categories %}
        <option value="{{ category.id }}">{{ category.category }}</option>
        {% endfor %}
      </select>
      <small>Kategori yok mu? <a class="text-decoration-none" href="{% url 'manage:create_category' %}">Oluştur</a></small>
    </div>
    <br>
    <div class="row">
      <div class="col-4">
        <p>Durum:</p>
      </div>
      <div class="form-check col-4">
        <input class="form-check-input" type="radio" name="status" value="0" id="draft">
        <label class="form-check-label" for="draft">Taslak olarak</label>
      </div>
      <div class="form-check col-4">
        <input class="form-check-input" type="radio" name="status" value="1" id="publish" checked="checked">
        <label class="form-check-label" for="publish">Genel olarak</label>
      </div>
    </div>
    <div class="row float-end">
      <button type="submit" class="btn btn-outline-success">Yayınla</button>
    </div>
  </form>
</div>
{% endblock %}
